*{
    margin: 0;
    padding: 0;
}
body{
    overflow:hidden;
    overflow-y: scroll;
    background-color: rgb(41, 2, 2);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
body::-webkit-scrollbar{
    background-color: rgb(41, 2, 2);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(136, 27, 23);
    height: 44vh;
    width: 100%;
}
body > div{
    width: 100%;
    height: 44vh;
    background-color: rgb(136, 27, 23);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body > div > *{
    font-family: 'NTR', sans-serif;
    font-size: calc(1vh + 3vw);
    text-align: center;
    color: rgba(0,0,0, 0.8);
    padding-bottom: 2vw;
}
body > div > h2{
    font-size: calc(2vh + 4vw);
}
header{
    width: 100vw;
    height: 22vh;
    background: rgb(74,27,161);
    background: linear-gradient(180deg, rgb(161, 31, 27) 0%, rgb(41, 2, 2) 100%);    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header > div > a{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(2vh + 2.5vw);
    color: rgba(0,0,0, 0.5);
    padding-bottom: 2vw;
    text-decoration: none;
}
header > h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(3vh + 6vw);
    color: rgba(0,0,0, 0.5);
    margin-left: 2vw;
    padding-bottom: 2vw;
}
.Tarjeta{
    width: 18vw;
    min-width: 150px;
    max-width: 225px;
    height: 22vh;
    min-height: 150px;
    max-height: 225px;
    background-color: rgb(136, 27, 23);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 2vw;
    margin-bottom: 5vh;
    color: #000;
    text-decoration: none;
}
.Tarjeta > h2{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: calc(0.3vw + 20px);
    font-family: 'NTR', sans-serif;
}
.Tarjeta > img{
    width: 100%;
    height: 55%;
    background-color: #2E0C21;
}
.Tarjeta > p{
    font-family: 'NTR', sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: calc(0.6vw + 15px);
    text-align: center;
    height: 15px;
    margin-bottom: 2vh;
}

.Tarjeta:hover{
    cursor:pointer;
}
